<div class="row">
  <div class="medium-11 large-6 columns"></div>
  <div class="profile-pic medium-4 large-6 columns"><%= image_tag(current_user.profile_photo) %></div>
  <div class="user-info medium-8 large-6 columns">
    <br>
    <h3>User Profile Page</h3><br>
    <h4>
    <div>User Email: <%= current_user.email %></div>
    <div>Name: <%= current_user.first_name %> <%= current_user.last_name %></div>
    <div>Address:</div>
    <div><%= current_user.address %></div>
    <div><%= current_user.city %> <%= current_user.state %></div>
    <div><%= current_user.zipcode %></div>
    <br>
    </h4>
  </div>
</div>

<div class="row">
  <div class="dog-pen large-12 columns", id="user_dogs">
    <% unless current_user.dogs == [] %>
      <h4> Your Dogs </h4>
    <% end %>
    <ul>
      <h3>
      <% current_user.dogs.each do |d| %>
      <div class="medium-2 large-2 columns"></div>
      <div class= "profile-pic medium-3 large-3 columns"><%= image_tag(d.profile_photo) %></div>
      <p class="panel medium-5 large-5 columns">
      Name: <%= d.name %><br>
      Gender: <%= d.gender %><br>
      Age: <%= d.age  %><br>
      Breed: <%= d.breed  %><br><br>
      <%= link_to 'Remove Dog', user_dog_path(current_user, d), method: :delete, class: "button tiny round" %></p>
      <div class="medium-2 large-2 columns"></div>
      <% end %>
      </h3>
    </ul>
  </div>
</div>
</div>

<div class="panel large-10 columns">
  <h4>Edit Profile</h4>
  <%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :profile_photo, "Profile Photo" %><br />
    <%= f.file_field :profile_photo %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes", class: "button round", id: "save_button" %>
  </div>

  <div class="field">
    <%= f.label :dog, "Would you like to add a dog to your profile?" %>
    <%= f.select :dog, [["No", false],["Yes", true]], selected: false %>
  </div>

<% end %>

  <div id="dog_info" style="display: none;">
    <h4>Please enter your dog's information below!</h4>

      <%= form_for [@user, Dog.new] do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter your dog's name here!" %>
    </div>

    <div class="field">
      <%= f.label :gender %>
      <%= f.select :gender, [["Male"], ["Female"]] %>
    </div>

    <div class="field">
      <%= f.label :age %>
      <%= f.text_field :age, placeholder: "About how old is your dog?" %>
    </div>

    <div class="field">
      <%= f.label :breed %>
      <%= f.select :breed,
          Dog::BREED, class: "button dropdown", html_options: size=30 %>
    </div>

    <div class="field">
      <%= f.label :profile_photo, "Your Dog's Photo" %>
      <%= f.file_field :profile_photo %>
    </div>

    <div class="actions">
      <%= f.submit "Add Your Dog!", class: "button round" %>
    </div>
    <% end %>

  </div>
</div>
