<h3>User Profile Page</h3>
<div class="user-info">
  <div><%= image_tag(current_user.profile_photo) %></div>
  <div>User Email: <%= current_user.email %></div>
  <div>Name: <%= current_user.first_name %> <%= current_user.last_name %></div>
  <div>Address:</div>
  <div><%= current_user.address %></div>
  <div><%= current_user.city %> <%= current_user.state %></div>
  <div><%= current_user.zipcode %></div><br>
</div>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :profile_photo, "Profile Photo" %><br />
    <%= f.file_field :profile_photo %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
