<h2>User Profile Page</h2>

<%= form_for(:user) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Edit" %>
  </div>
<% end %>
