<body class="body-profile-page">
  <div class="row hidden">

    <div class="small-12 medium-5 columns">
      <h3 class="show-for-small small-profile-text text-center">User Profile Page<hr/></h3>
      <div class="panel">
        <% if image_tag(current_user.profile_photo) == "<img src=\"\" />" %>
          <img src="/no-profile-pic.jpg"/><br><br>
        <% else %>
          <p class="user-img"><%= image_tag(current_user.profile_photo) %><br></p>
        <% end %>
          <h4 class="hide-for-small text-center">User Profile Page<hr/></h4>
            <h5 class="user-info subheader">
              User Email: <%= current_user.email %><br>
              Name: <%= current_user.first_name %>
              <%= current_user.last_name %><br><br>
              Address:<br>
              <%= current_user.address %><br>
              <%= current_user.city %> <%= current_user.state %>
              <%= current_user.zipcode %>
            </h5>
      </div>
    </div>

    <div class="profile-pic small-12 medium-7 columns">
          <% unless current_user.dogs == [] %>
      <div class="row panel">
        <div id="user_dogs">
            <h3 class="show-for-small text-center">Your Dogs<hr/></h3>
            <h4 class="hide-for-small text-center">Your Dogs<hr/></h4>
          <% end %>
        </div>

        <p><% current_user.dogs.each do |d| %>
        <div class="row">
          <div class="small-6 columns">
            <img class="profile-pic">
              <%= image_tag(d.profile_photo) %>
            </img>
          </div>

          <p class:"small-6 columns dog-info">
          <br>
            Name: <%= d.name %><br><br>
            Gender: <%= d.gender %><br>
            Age: <%= d.age  %><br>
            Breed: <%= d.breed  %><br><br>
            <%= link_to 'Remove Dog', user_dog_path(current_user, d),
              method: :delete,  data: { confirm: 'Are you sure?' }, class: "button tiny round" %>
            <% end %>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row panel">
    <h4>Edit Profile</h4>
      <%= form_for @user do |f| %>
    <div class="field medium-6 columns">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field medium-6 columns">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "off" %>
    </div>

    <div class="field medium-6 columns">
      <%= f.label :address %><br />
      <%= f.text_field :address, autocomplete: "off" %>
    </div>

    <div class="field medium-3 columns">
      <%= f.label :city %><br />
      <%= f.text_field :city, autocomplete: "off" %>
    </div>

    <div class="field medium-1 columns">
      <%= f.label :state %><br />
      <%= f.text_field :state, autocomplete: "off" %>
    </div>

    <div class="field medium-2 columns">
      <%= f.label :zipcode %><br />
      <%= f.text_field :zipcode, autocomplete: "off" %>
    </div>

    <div class="field medium-12 columns">
      <%= f.label :profile_photo, "Profile Photo" %><br />
      <%= f.file_field :profile_photo %>
    </div>

    <div class="actions">
      <%= f.submit "Save Changes", class: "button round", id: "save_button" %>
    </div>

    <div class="field text-center row">
      <p><%= f.label :dog, "Would you like to add a dog to your profile?", class: "question"%>
      <%= f.select :dog, [["No", false],["Yes", true]], selected: false %>
    <% end %>


    <div id="dog_details" style="display: none;">
      <h4>Please enter your dog's information below!</h4>

        <%= form_for [@user, Dog.new] do |f| %>
    <div class="row">
      <div class="field medium-8 medium-centered columns">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Enter your dog's name here!" %>
      </div>
    </div>

    <div class="row">

      <div class="field medium-3 columns">
        <%= f.label :age %>
        <%= f.text_field :age, placeholder: "About how old is your dog?" %>
      </div>

      <div class="field medium-5 columns">
        <%= f.label :gender %>
        <%= f.select :gender, [["Male"], ["Female"]] %>
      </div>

      <div class="field medium-4 columns">
        <%= f.label :breed %>
        <%= f.select :breed,
            Dog::BREED, class: "button dropdown", html_options: size=30 %>
      </div>

      <div class="field">
        <%= f.label :profile_photo, "Your Dog's Photo" %>
        <%= f.file_field :profile_photo, class: "text-center round upload" %>
      </div>

      <div class="actions">
        <%= f.submit "Add Your Dog!", class: "button round" %>
      </div>
      <% end %>

      </div>
      </div>
    </div>

</body>
