<head>
  <meta charset="utf-8">
  <title>Boston Dog Parks</title>
</head>

<body class="dogparks-bg">
  <div class="row">

<!-- Search Dogparks Form -->
    <%= form_tag(dogparks_path, :method => "get") do %>
      <div class="search-container">
        <div class="search-item medium-3 columns">
          <div class="search-form columns">
            <%= select_tag :range,
                options_for_select([["5 miles near", 5],["10 miles near", 10],["15 miles near", 15],["20 miles near", 20]], @range),
                id: "range-box" %>
          </div>
        </div>


        <div class="search-form medium-5 columns">
          <%= text_field_tag :location,
              params[:location],
              id: "location-box",
              value: @query_location,
                placeholder: "Location",
              required: true %>
        </div>

        <div class="search-item medium-3 medium-offset-1 columns">
          <button id="search-button" class="radius">Discover Nearby Dog Parks!</button>
        </div>

      </div>
    <% end %>



<!-- Dogpark List -->
    <div class="large-12 columns">
      <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">

        <% @dogparks.each do |d| %>
            <li>
            <a href="<%= dogpark_path(d) %>">
              <% if image_tag(d.park_picture) == "<img src=\"\" />" %>
                <img class= "dogpark-img" src="/group-walk.jpg"/></a>
              <% else %>
                <img class= "dogpark-img"><%= image_tag(d.park_picture) %></a>
              <% end %>

            <h4 class="white text-center"><%= d.name %></h4>
            </li>
        <% end %>
      </ul>

      </div>
  </div>
</body>
