<body class="body-dogpark-page container">
  <p id="lat" hidden><%= @dogpark.lat %></p>
  <p id="lon" hidden><%= @dogpark.lng %></p>
  <div class= "row" id="dogpark-info">

    <div class="medium-6 columns" id="map">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&q=<%= @dogpark.address %>,<%= @dogpark.city %>,<%= @dogpark.state %>&attribution_source=Google+Maps+Embed+API&attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @dogpark.address %>, <%= @dogpark.city %>, <%= @dogpark.state %>"></script>
    </div>


    <div class="small-11 medium-5 medium-offset-1 text-center panel columns">

      <h3 class="window-styling"><%= @dogpark.name %></h3><br>
      <div class="medium-centered columns">
        <p>
        <h5>Address:</h5>
        <%= @dogpark.address %><br>
        <%= @dogpark.city %>, <%= @dogpark.state %>
        </p>
        <p id="schedule-button">
            <input class= "button" type='button' id='hideshow' value="Schedule a Playdate Here!">

            <div id='playdate-form' style='display:none'>
            <%= form_for @playdate do |f| %>
                <%= f.label :date %>
                <%= f.date_select :date, autofocus: true %>

                <%= f.label :time %>
                <%= f.time_field :time, value: "", autocomplete: "off" %>

                <%= f.label :location_type %>
                <%= f.select :location_type,
                Playdate::LOCATIONTYPE, selected: "Dog Park", class: "button dropdown" %>

                <%= f.label :location_address %>
                <%= f.text_field :location, value: @dogpark.address, autocomplete: "off" %>

                <%= f.submit "Save Changes", class: "button round", id: "save_button" %>
                <% end %>
            </div>

        </p>
      </div>
    </div>

</body>
