<head>
  <meta charset="utf-8">
  <title>Join a Playdate!</title>
</head>

<div class="row">
  <div class="large-12 columns">
  <div id="slider" centered>
    <img abel src="/abel-banner.jpg"/>
  </div>
  <hr/>
  </div>
</div>

<body class="playdates-bg">
  <div class="row playdates-join">
      <h1 class="white gooddog text-center">Join a Playdate</h1>
    <% @playdates.each do |p| %>
    <div class="large-4 columns">
      <% if p.location_type == "Dog Park" %>
        <a href="<%= playdate_path(p) %>">
          <img src="/dog-park-group.jpg"/></a>
      <% elsif p.location_type == "Residence" %>
        <a href="<%= playdate_path(p) %>">
          <img src="/residence.jpg"/></a>
      <% elsif p.location_type == "Nature Hike" %>
        <a href="<%= playdate_path(p) %>">
          <img src="/nature-hike.jpg"/></a>
      <% else p.location_type == "Group Walk" %>
        <a href="<%= playdate_path(p) %>">
          <img src="/group-walk.jpg"/></a>
      <% end %>


      <h4 class="white text-center"><%= p.location %></h4>
      <h5 class="white text-center"><%= p.location_type %></h5>
      <p class="white title text-center">Playdate: <%= p.date %>
          Time: <%= p.time.getlocal %></p>
    </div>
    <% end %>
  </div>
</body>
