<body class="playdate-page container">
  <div class= "row" id="playdate-info">

    <div class="medium-6 medium-centered columns" id="map">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&libraries=places&callback=initialize"></script>
    </div>

    <div class="medium-6 medium-centered hide-for-small columns">

      <div class="row panel medium-centered columns">
          <h3>@ <%= @playdate.location %></h3>
        <div class="medium-6 hide-for-small columns">
          <p>
          <h6>Location Type:</h6>
          <h6>Time:</h6>
          <h6>Date:</h6>
          </p>
          <% if current_user == @playdate..user %>
            <%= link_to "Edit", edit_playdate_path(@playdate), class: "button-blue button tiny round" %>
            <%= link_to 'Remove', @playdate, method: :delete, class: "button-blue button tiny round" %>
          <% end %>
        </div>

        <div class="medium-6 hide-for-small columns">
          <p>
          <h6 class="title"><%= @playdate.location_type %></h6>
          <h6 class="title"><%= @playdate.time.strftime("%I:%M%p") %></h6>
          <h6 class="title"><%= @playdate.date %></h6>
          </p>
        </div>
      </div>
    </div>

    <div class="medium-6 medium-centered show-for-small panel columns">

      <h3 class="window-styling">@ <%= @playdate.location %></h3>
      <div class="medium-centered columns">
        <p>
        Location Type: <%= @playdate.location_type %><br>
        Time: <%= @playdate.time.strftime("%I:%M%p") %><br>
        Date:<%= @playdate.date %>
        </p>
        <% if current_user == @playdate..user %>
          <%= link_to "Edit", edit_playdate_path(@playdate), class: "button-blue button tiny round" %>
          <%= link_to 'Remove', @playdate, method: :delete, class: "button-blue button tiny round" %>
        <% end %>
      </div>
    </div>
</body>
