<!DOCTYPE html>
<html>
<head>
  <title>Wag</title>
  <link rel="stylesheet" href="animate.min.css">
  <script src="js/vendor/jquery.js"></script>
  <script src="http://foundation.zurb.com/docs/assets/js/all.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%- flash.each do |key, value| -%>
    <div class="alert-box radius flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= render "layouts/topbar" %>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

  <script>
      $(document).ready(function() {
        setTimeout(function(){
          $(".alert-box").fadeOut("slow", function() {
            $(this).remove();
          })
        }, 1600);
      $(".parent2").trigger("mousedown");
      });
  </script>

</body>
</html>
